# Prerequisites
*.d

# Compiled _ArcObject files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Output
Out/
Bin/
Lib/

# CMake
**/.cmake
**/CMakeFiles
**/CMakeCache.txt
**/cmake_install.cmake

# Ninja
**/build.ninja
**/.ninja*

# Clion
**/.idea

# VSCode
**/.vscode
**/compile_commands.json